@use '../supColor.scss' as *;
@use '../greyColor.scss' as *;

// 蓝
body[data-theme='theme/blue'] {
  /* 色板主色：主色(0) —— +9 */  
  --theme-color-0: 41,126,255;
  --theme-color-1: 71,144,255;
  --theme-color-2: 102,165,255;
  --theme-color-3: 133,184,255;
  --theme-color-4: 163,201,255;
  --theme-color-5: 194,218,255;
  --theme-color-6: 207,226,255;
  --theme-color-7: 219,234,255;
  --theme-color-8: 232,241,255;
  --theme-color-9: 245,249,255;
  // 特例色
  --theme-color-10: 255,255,255;

  /* 色板主色： -1 —— -2 */
  --theme-color-n1: 27,112,242;
  --theme-color-n2: 14,99,230;

  /* 色板文字色： T —— T1 */
  --theme-color-t:  33,35,38;              /* 重要文字 */
  --theme-color-t1: 208,214,223;           /* 画板辅助线 */
  --theme-color-t3: 163,174,191;           /* 提示、不可操作、标签角标、按钮边线 */
  --theme-color-t5: 119,128,140;;          /* 辅助文字 */
  --theme-color-t7: 76,81,89;              /* 常规文字 */

  /* 补充色 */
  // 想要将 sass 变量赋给 css 变量，需要写成特殊形式： --cssVar: #{$sassVar}
  --theme-color-s1-0: #{$sup-color-n8-0};     /* 补充色-保存 */
  --theme-color-s1-1: #{$sup-color-n8-1};     /* 补充色-保存 -1 */
  --theme-color-s1-2: #{$sup-color-n8-2};     /* 补充色-保存 -2 */
  --theme-color-s2-0: #{$sup-color-n9-0};     /* 补充色-发布 */
  --theme-color-s2-1: #{$sup-color-n9-1};     /* 补充色-发布 -1 */
  --theme-color-s2-2: #{$sup-color-n9-2};     /* 补充色-发布 -2 */

  /* 对比色 */
  --theme-color-c:  #{$sup-color-n2-0};       /* 提示线、运行按钮 */
  --theme-color-c1: #{$sup-color-n2-1};       /* 提示线、运行按钮 -1 */
  --theme-color-c2: #{$sup-color-n2-2};       /* 提示线、运行按钮 -2 */
}