@use '../supColor.scss' as *;
@use '../greyColor.scss' as *;

/* 默认橙色  */
body, body[data-theme='theme/orange'] {
  /* 色板主色：主色(0) —— +9 */  
  --theme-color-0: 255,120,41;
  --theme-color-1: 255,139,71;
  --theme-color-2: 255,158,102;
  --theme-color-3: 255,177,133;
  --theme-color-4: 255,197,163;
  --theme-color-5: 255,216,194;
  --theme-color-6: 255,224,207;
  --theme-color-7: 255,232,219;
  --theme-color-8: 255,240,232;
  --theme-color-9: 255,249,245;
  // 特例色
  --theme-color-10: 255,255,255;

  /* 色板主色： -1 —— -2 */
  --theme-color-n1: 242,109,31;
  --theme-color-n2: 230,95,18;

  /* 色板文字色： T —— T1 */
  --theme-color-t:  38,35,33;             /* 重要文字 */
  --theme-color-t1: 223,214,208;          /* 画板辅助线 */
  --theme-color-t3: 191,173,163;          /* 提示、不可操作、标签角标、按钮边线 */
  --theme-color-t5: 140,127,119;;         /* 辅助文字 */
  --theme-color-t7: 89,81,76;             /* 常规文字 */

  /* 补充色，每个补充色有三个色度 */
  --theme-color-s1-0: #{$sup-color-n1-0};    /* 补充色-保存 */
  --theme-color-s1-1: #{$sup-color-n1-1};    /* 补充色-保存 -1 */
  --theme-color-s1-2: #{$sup-color-n1-2};    /* 补充色-保存 -2 */
  --theme-color-s2-0: #{$sup-color-n3-0};    /* 补充色-发布 */
  --theme-color-s2-1: #{$sup-color-n3-1};    /* 补充色-发布 -1 */
  --theme-color-s2-2: #{$sup-color-n3-2};    /* 补充色-发布 -2 */

  /* 对比色，对比色取的也是补充色，也有三个色度 */
  --theme-color-c:  #{$sup-color-n7-0};      /* 提示线、运行按钮 */
  --theme-color-c1: #{$sup-color-n7-1};      /* 提示线、运行按钮 -1 */
  --theme-color-c2: #{$sup-color-n7-2};      /* 提示线、运行按钮 -2 */
}
