/* 灰色色板 */
body {
  --theme-color-grey-0: 255,255,255;
  --theme-color-grey-10: 230,230,230;
  --theme-color-grey-20: 204,204,204;
  --theme-color-grey-30: 179,179,179;
  --theme-color-grey-40: 153,153,153;
  --theme-color-grey-50: 128,128,128;
  --theme-color-grey-60: 102,102,102;
  --theme-color-grey-70: 77,77,77;
  --theme-color-grey-80: 51,51,51;
  --theme-color-grey-90: 26,26,26;
  --theme-color-grey-100: 0,0,0;
}

$theme-color-grey-0: var(--theme-color-grey-0) !default;
$theme-color-grey-10: var(--theme-color-grey-10) !default;
$theme-color-grey-20: var(--theme-color-grey-20) !default;
$theme-color-grey-30: var(--theme-color-grey-30) !default;
$theme-color-grey-40: var(--theme-color-grey-40) !default;
$theme-color-grey-50: var(--theme-color-grey-50) !default;
$theme-color-grey-60: var(--theme-color-grey-60) !default;
$theme-color-grey-70: var(--theme-color-grey-70) !default;
$theme-color-grey-80: var(--theme-color-grey-80) !default;
$theme-color-grey-90: var(--theme-color-grey-90) !default;
$theme-color-grey-100: var(--theme-color-grey-100) !default;
