/* 补充色 1 对应 -1，2 对应 -2，0 对应默认，该变量不能直接用作于 css 颜色 */
$sup-color-n1-0: 255,167,1 !default;
$sup-color-n1-1: 242,154,12 !default;
$sup-color-n1-2: 230,142,0 !default;

$sup-color-n2-0: 255,140,26 !default;
$sup-color-n2-1: 242,127,12 !default;
$sup-color-n2-2: 230,115,0 !default;

$sup-color-n3-0: 255,47,47 !default;
$sup-color-n3-1: 242,31,33 !default;
$sup-color-n3-2: 230,18,18 !default;

$sup-color-n4-0: 255,112,169 !default;
$sup-color-n4-1: 242,94,153 !default;
$sup-color-n4-2: 230,78,139 !default;

$sup-color-n5-0: 231,71,255 !default;
$sup-color-n5-1: 218,56,242 !default;
$sup-color-n5-2: 205,41,230 !default;

$sup-color-n6-0: 120,105,255 !default;
$sup-color-n6-1: 103,87,242 !default;
$sup-color-n6-2: 87,71,230 !default;

$sup-color-n7-0: 51,141,255 !default;
$sup-color-n7-1: 36,127,242 !default;
$sup-color-n7-2: 23,114,230 !default;

$sup-color-n8-0: 41,169,255 !default;
$sup-color-n8-1: 27,156,242 !default;
$sup-color-n8-2: 14,143,230 !default;

$sup-color-n9-0: 66,213,101 !default;
$sup-color-n9-1: 52,201,88 !default;
$sup-color-n9-2: 40,189,76 !default;