@use "../supColor.scss" as *;
@use '../greyColor.scss' as *;

// 紫罗兰
body[data-theme="theme/violet"] {
  /* 色板主色：主色(0) —— +9 */
  --theme-color-0: 148, 41, 255;
  --theme-color-1: 163, 71, 255;
  --theme-color-2: 179, 102, 255;
  --theme-color-3: 194, 133, 255;
  --theme-color-4: 209, 163, 255;
  --theme-color-5: 224, 194, 255;
  --theme-color-6: 231, 207, 255;
  --theme-color-7: 237, 219, 255;
  --theme-color-8: 246, 237, 255;
  --theme-color-9: 250, 245, 255;
  // 特例色
  --theme-color-10: 255,255,255;

  /* 色板主色： -1 —— -2 */
  --theme-color-n1: 134, 27, 242;
  --theme-color-n2: 122, 14, 230;

  /* 色板文字色： T —— T1 */
  --theme-color-t: 35, 33, 38; /* 重要文字 */
  --theme-color-t1: 215, 208, 223; /* 画板辅助线 */
  --theme-color-t3: 177, 163, 191; /* 提示、不可操作、标签角标、按钮边线 */
  --theme-color-t5: 130, 119, 140; /* 辅助文字 */
  --theme-color-t7: 83, 76, 89; /* 常规文字 */

  /* 补充色 */
  --theme-color-s1-0: #{$sup-color-n5-0}; /* 补充色-保存 */
  --theme-color-s1-1: #{$sup-color-n5-1}; /* 补充色-保存 -1 */
  --theme-color-s1-2: #{$sup-color-n5-2}; /* 补充色-保存 -2 */
  --theme-color-s2-0: #{$sup-color-n8-0}; /* 补充色-发布 */
  --theme-color-s2-1: #{$sup-color-n8-1}; /* 补充色-发布 -1 */
  --theme-color-s2-2: #{$sup-color-n8-2}; /* 补充色-发布 -2 */

  /* 对比色 */
  --theme-color-c: #{$sup-color-n1-0}; /* 提示线、运行按钮 */
  --theme-color-c1: #{$sup-color-n1-1}; /* 提示线、运行按钮 -1 */
  --theme-color-c2: #{$sup-color-n1-2}; /* 提示线、运行按钮 -2 */
}
